
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 360px) {
  header {
    height: 40px;
  }
}

.titleHeader {
  font-size: 35px;
  color: #fff;
}

.headerMenu button {
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: transform .09s;
  color: #fff;
  box-shadow: 0 3px 6px #7575756e;
}
.headerMenu button:active {
  transform: scale(.95);
}

@media (max-width: 360px) {
  .titleHeader {
    font-size: 20px;
  }

  .headerMenu button {
    padding: 7px 10px;
    font-size: 14px;
    margin-right: 60px;
  }
  .headerMenu .text__addHeader { display: none; }
}


.headerMenu .authHeader {
  background-color: #ffffff27;
}

.headerMenu .btnAddHeader{
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}


input {
  width: 400px;
  padding: 10px 40px 10px 10px;
  outline: none;
  border: 1px solid #fff;
  margin-left: 40px;
  font-size: 15px;
  background-color: #ffffff25;
  color: #fff;
}
input::placeholder { color: #fff; }

@media (max-width: 360px) {
  input {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
  }
}


.searchIcon {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 360px) {
  .searchIcon {
    font-size: 16px;
  }
}


.headerMenu {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
}