
.card {
  position: relative;
  width: 400px;
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  padding: 10px 45px 5px 10px;
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15), inset 0 0 3px rgba(255, 255, 255, 0.534);

}
/* .card.green { border-left: 7px solid #00a700; }
.card.yellow { border-left: 7px solid #d5ec00; }
.card.red { border-left: 7px solid #a70000; } */

.card h3 {
  color: #1a1a1a;

}

.text { 
  height: 50px;
  width: 220px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.card p {
  color: #1a1a1a;
}

.colorCardWrapper {
  width: 70px;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorCardWrapper .colorCard {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #fff;
  /* box-shadow: -1px 1px 3px #e4e4e4; */
}
.colorCardWrapper .colorCard.green { background: linear-gradient(#36f310, #35fc45); }
.colorCardWrapper .colorCard.yellow { background: linear-gradient(#cdf009, #d7fc35); }
.colorCardWrapper .colorCard.red { background: linear-gradient( #fc3581, #f31010); }

.wrapperStateCard {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 4px;
  bottom: 20px; 
  text-shadow: 0 0 1px #fff;
}

.card .dateTime { 
  height: 20px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  line-height: 1;
  font-size: 15px;
}

.card .dateTime .date-time-icon {
  position: relative;
  left: 0;
  bottom: 2px;
}


.more-buttons {
  width: 80px;
  height: 32px;
  background: linear-gradient(135deg,rgba(146, 146, 146, 0.5),rgba(170, 170, 170, 0.5));
  display: flex;
  position: absolute;
  top: 20px;
  right: 5px;
  border-radius: 7px;
  box-shadow: inset 0 2px 5px #a8ecfdb9, inset 0 0 5px #fff;
}
.more-buttons button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .1s ;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-buttons button:hover { background-color: rgba(255, 255, 255, 0.4); }

.show-more {
  height: 100%;
  font-size: 16px;
  border-left: 1px solid #000;
}