* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(32, 0, 105, 0.3), rgba(17, 0, 56, 0.3) ), url('/bg.png');
  background-size: cover;
  background-position: center;
  padding: 0 100px;
}

@media (max-width: 360px) {
  body {
    padding: 0 10px;
  }
}

button {
  border-radius: 7px;
  transition: .9s;
}
button:active { transform: scale(.95); }